a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.App {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/352096/pexels-photo-352096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  background-color: black;
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header .logo p {
  margin-right: 10px;
}

.header .links a {
  margin-left: 10px;
}
